:root {
  --color-primary: hsl(4, 100%, 67%);
  --color-heading-font: hsl(234, 29%, 20%);
  --color-paragraph-font: hsl(235, 18%, 26%);
  --color-gray: hsl(231, 7%, 60%);
  --color-white: hsl(0, 0%, 100%);
  --gradient: linear-gradient(204.47deg, #ff6a3a 0%, #ff527b 100%);
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-paragraph-font);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
input,
button {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

/*content body */
.card {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 1.5rem 1.5rem 1.5rem 4rem;
  flex-direction: row;
  background-color: var(--color-white);
  overflow: hidden;
  border-radius: 2.25rem;
}
.header {
  color: var(--color-heading-font);
  font-size: 3.5rem;
  line-height: 1;
}
.cite {
  margin-top: 1.5rem;
}
.content {
  max-width: 375px;
  padding: 0;
}
.list-features {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  list-style: none;
  justify-content: center;
}
li {
  display: flex;
  align-items: start;
  flex-direction: row;
  gap: 1rem;
}
li::before {
  content: url(/assets/images/icon-list.svg);
  height: 21px;
}

img {
  max-width: 100%;
  display: block;
}

.cite-group {
  display: flex;
  justify-content: space-between;
}
.hidden {
  display: none !important;
}
.error-text {
  color: var(--color-primary);
  font-size: 12px;
  font-weight: 700;
  display: flex;
}
.input {
  padding: 1rem 1.5rem;
  border: none;
  outline: 1px solid hsla(243, 28%, 13%, 0.25);
  border-radius: 8px;
  transition: outline 0.2s, background-color 0.2s, color 0.2s;
  color: var(--color-heading-font);
}
.error {
  outline: 1px solid var(--color-primary);
  background: hsla(4, 100%, 67%, 0.15);
  color: var(--color-primary);
}
.error:focus {
  outline: 1px solid var(--color-primary);
}
.input:focus {
  outline: 1px solid var(--color-heading-font);
}
.input::placeholder {
  color: #9293a0;
}
.label {
  font-size: 12px;
  color: var(--color-heading-font);
  font-weight: 700;
}
form {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.btn {
  position: relative;
  margin-top: 1.5rem;
  background-color: var(--color-heading-font);
  width: 100%;
  border: none;
  color: var(--color-white);
  font-weight: 700;
  padding: 1rem 0;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
}
.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--gradient);
  opacity: 0;
  transition: opacity 0.2s;
}
.btn span {
  position: relative;
}
.btn:hover,
.btn:focus {
  box-shadow: 0 16px 32px #ff615580;
}
.btn:hover:before,
.btn:focus:before {
  opacity: 1;
}
.wrapper {
  background-color: var(--color-white);
  max-width: 504px;
  padding: 3rem 4rem 4rem;
  border-radius: 2.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.success-header {
  margin-top: 2.5rem;
  font-size: 3.5rem;
  line-height: 1;
  color: var(--color-heading-font);
}
.card-success-text {
  margin-top: 1.5rem;
}
.btn-success {
  margin-top: 2.5rem;
}
.text-bold {
  font-weight: 700;
}

@media screen and (max-width: 960px) {
  body {
    display: block;
  }
  .card {
    flex-direction: column-reverse;
    padding: 0;
    border-radius: 0;
    justify-content: start;
    gap: 0rem;
    height: 100vh;
  }
  .content {
    width: 100%;
    padding: 2.5rem 1.5rem;
  }
  .content-image {
    width: 100%;
  }
  img {
    width: 100%;
  }
  .content {
    max-width: 100%;
  }
  .header {
    font-size: 2.5rem;
  }
  .wrapper {
    padding: 9.25rem 1.5rem 2.5rem;
    min-height: 100vh;
    max-width: 100vw;
    border-radius: 0;
  }
  .sucess-image {
    max-width: 65px;
    display: block;
  }
  .success-header {
    font-size: 2.5rem;
  }
}
